switch_ID: your_switch_id
switch_PW: your_switch_password
switch_IP: your_switch_ip_address
switch_Port: 8443

UCSM_ID:your_ucsm_id
UCSM_PW:your_ucsm_password
UCSM_IP:your_ucsm_ip_address
UCSM_Port:443